.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #6a4a2aee;
    color: white;
    padding: 20px;
    border-radius: 8px;
    /* width: 80%; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  i{
    color: white;
  }

  input{
    background: none;
  }
  textarea{
    background: none;
  }

  label{
    color: white;
  }

  ::placeholder {
    color: #b88417;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color:#b88417;
  }

  select{
    background: none;
  }
  