<br><br>
<div class="container">
    <p class="headtext">Project </p>
</div>
<br>

<div class="bg-image">
    <img src="/assets/about/banner.jpg" class="img-fluid" alt="Sample" />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <p class="text-white mb-0 h11 animate__animated animate__fadeInTopLeft"><b>Project Name</b> <br> <span style="font-size:0.5em;"> Project Area</span>
            </p>

        </div>
    </div>
</div>
<br>
<div class="highight">
    <div class="container">
        <div class="text-center">
            <p class="text-center gall">Major Highlights</p>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <img class="animate__animated animate__fadeInTopLeft" src="https://aadvani.com/images/project/invest.jpg" alt="">
                </div>
            </div><br>
            <div class="col-md-6">
                <ul><br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi magni in vitae sed
                        aliquid facilis ut delectus ratione. Porro ut mollitia aut vel quo enim optio laudantium aperiam
                        perspiciatis.</li> <br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi magni in vitae sed
                        aliquid facilis ut delectus ratione. Porro ut mollitia aut vel quo enim optio laudantium aperiam
                        perspiciatis.</li> <br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi magni in vitae sed
                        aliquid facilis ut delectus ratione. Porro ut mollitia aut vel quo enim optio laudantium aperiam
                        perspiciatis.</li> <br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi magni in vitae sed
                        aliquid facilis ut delectus ratione. Porro ut mollitia aut vel quo enim optio laudantium aperiam
                        perspiciatis.</li> <br>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi magni in vitae sed
                        aliquid facilis ut delectus ratione. Porro ut mollitia aut vel quo enim optio laudantium aperiam
                        perspiciatis.</li> <br>

                </ul>
            </div>
        </div>
    </div>
</div>

<br>
<div class="gallery">

    <div class="container">
        <div class="text-center">
            <p class="text-center gall">Gallery</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-bodys">
                        <img src="https://aadvani.com/images/gallery/small/k3.jpg" alt="">
                    </div>
                </div>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-bodys">
                        <img src="https://aadvani.com/images/gallery/small/k3.jpg" alt="">
                    </div>
                </div>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-bodys">
                        <img src="https://aadvani.com/images/gallery/small/k3.jpg" alt="">
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-bodys">
                        <img src="https://aadvani.com/images/gallery/small/k3.jpg" alt="">
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-bodys">
                        <img src="https://aadvani.com/images/gallery/small/k3.jpg" alt="">
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-bodys">
                        <img src="https://aadvani.com/images/gallery/small/k3.jpg" alt="">
                    </div>
                </div>
                <br>
            </div><br>

        </div>
    </div>
</div>

<br>
<div class="aminities">
    <div class="container">
        <div class="text-center">
            <p class="text-center tami">Aminities</p>
        </div>

        <p style="text-align: center; color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Blanditiis iste,
            excepturi officiis debitis qui
            vitae quis repudiandae rem sapiente est quia? Eaque quos culpa nobis perspiciatis qui explicabo aut veniam.
        </p>

        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/cctv.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">CCTV Camera</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-lg-2 col-md-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"><br>
                            <img src="/assets/aminities/gymnasium.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Gymnasium</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-lg-2 col-md-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"><br>
                            <img src="/assets/aminities/jogging-strolling-tracks.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Jogging Tracks</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-lg-2 col-md-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"><br>
                            <img src="/assets/aminities/sports-facility.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sports Facility</h5>


                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-lg-2 col-md-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/swimming-pool.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Swimming Pool </h5>


                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-lg-2 col-md-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"><br>
                            <img src="/assets/aminities/visitor-parking.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Visitor Parking</h5>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3">

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/kids-play-area.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Kids Playarea</h5>


                            </div>
                        </div>
                    </div>
                </div><br>
            </div><br>
            <div class="col-lg-2 col-md-3">

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/lift.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br><br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Lift </h5>


                            </div>
                        </div>
                    </div>
                </div><br>
            </div><br>
            <div class="col-lg-2 col-md-3">

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/meditation-area.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Meditation Area </h5>


                            </div>
                        </div>
                    </div>
                </div><br>
            </div><br>
            <div class="col-lg-2 col-md-3">

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/park.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br><br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Park </h5>
                            </div>
                        </div> <br>
                    </div>
                </div><br>
            </div><br>
            <div class="col-lg-2 col-md-3">

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/reserved-parking.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Reserve Parking </h5>


                            </div>
                        </div>
                    </div>
                </div><br>
            </div><br>
            <div class="col-lg-2 col-md-3">

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4"> <br>
                            <img src="/assets/aminities/tennis-court.png" alt="Trendy Pants and Shoes"
                                class="img-fluid rounded-start" /> <br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tennis Court </h5>


                            </div>
                        </div>
                    </div>
                </div><br>
            </div><br>
        </div>
    </div>
</div>
<br>

<div class="locations">
    <div class="text-center">
        <p class="text-center gall">Location Map</p>
    </div><br>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30259.107530459885!2d73.9540992!3d18.556518399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1731650734754!5m2!1sen!2sin"
        width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade" class="mapp"></iframe>
</div>