.headtext {
    font-family: 'Alegreya', serif;
    font-size: 5em;
    font-weight: 500;
    color: black;
    /* text-shadow: wheat; */
    -webkit-text-fill-color: #b88417;
    /* -webkit-text-fill-color: #ded4cb; */
    -webkit-text-stroke: 1px #6d4a2a;
    /* -webkit-text-fill-color: #ded4cb;
    -webkit-text-stroke: 1px #6d4a2a; */
    animation: left 2s 2;
}

@keyframes left {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(-50px);
    }
}

.aminities {
    background: linear-gradient(#836737, #6d4a2a);
    padding: 4%;
}

.tami {
    color: white;
    font-size: 3em;
    font-weight: 900;
}

.gall {
    color: #b89462;
    font-size: 3em;
    font-weight: 900;
}

.card {
    background-color: #f4f2ed9d;
    border: 1px solid #906034;
}


/* .color{
    color: #b88417;    
    color: #fae382;  
    color: #d7b046;  
    color is in shine
} */

img {
    width: 100%;
}

.card-bodys {
    padding: 1%;
}

li {
    list-style: square;
}

.h11 {
    font-size: 3.5em;
}

.mb-3:hover {
    transform: scale(1.1);
}


.card:hover {
    box-shadow: 0px 9px 30px #b88417;
    /* box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -20px 20px 0px rgba(33, 33, 33, 0.7); */
    border: none;
}