<br><br>
<div class="container"> <br><br>
    <div class="row">
        <div class="col-md-2"> <br> <br>
           
        </div>
        <br>
        <div class="col-md-6">
            <div class="text-center">
                <div class="container">

                    <div id="MainContainer">
                        <!-- <div class="bubble" id="bubble1"></div>
                        <div class="bubble" id="bubble2"></div>
                        <div class="bubble" id="bubble3"></div>
                        <div class="bubble" id="bubble4"></div>
                        <div class="bubble" id="bubble5"></div> -->
                        <!-- <img src="/img/image_processing20210916-22747-gzgga2.png" style="position: absolute;width: 994px;top: 27px;z-index: -2;" > -->
                        <div id="ProductCard">

                            <div id="grayStripe"></div>
                            <div id="grayBottom"></div>
                            <div id="glasTop"></div>
                            <div id="glasStripe"></div>
                            <input type="radio" class="sliderSelection" name="position" id="input1" checked />
                            <input type="radio" class="sliderSelection" name="position" id="input2" />
                            <input type="radio" class="sliderSelection" name="position" id="input3" />
                            <input type="radio" class="sliderSelection" name="position" id="input4" />
                            <div id="sliderContainer"> <span id="slider"></span></div>

                            <h2 id="carouselTitle"><br>Why Choose US</h2>

                            <div id="carousel">
                                <div class="item">
                                    <table id="producs1" class="productTable" cellspacing="0" cellpadding="0">
                                        <p>You’ll need to stop over at several corporate offices and need to explain
                                            your
                                            geographical
                                            requirements, Budgets, and so on if you want to buy a property directly from
                                            a builder.
                                            Sharing these instructions with a large figure of people will be a waste of
                                            time, money,
                                            and
                                            energy, whereas sharing it with a single channel partner will instantly
                                            bring you all of
                                            Indore’s advantages and best properties.
                                        </p>
                                    </table>
                                </div>
                                <div class="item">
                                    <table id="producs2" class="productTable">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis rem sunt
                                            labore esse
                                            sapiente voluptatibus sed nulla odio, quam non cum assumenda magni officia
                                            quo. Quo
                                            asperiores veritatis quis quisquam!</p>
                                    </table>
                                </div>
                                <div class="item">
                                    <table id="producs3" class="productTable">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur ex
                                            commodi, qui
                                            temporibus voluptatum doloremque, veritatis, deleniti odit molestiae
                                            pariatur ad eius.
                                            Aut repellat quas sed neque quae, aliquam laborum!</p>
                                    </table>
                                </div>
                                <div class="item">
                                    <table id="producs4" class="productTable">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, tempore.
                                            Dolorem porro
                                            quibusdam corporis, neque aliquam atque, fugiat excepturi ipsa deleniti quo
                                            veniam dicta
                                            saepe nobis provident consequatur similique magnam.</p>
                                    </table>
                                </div>

                            </div>
                            <div id="carousel2">
                                <div class="item2">
                                    <h2>Exact <br />Solution</h2>
                                </div>
                                <div class="item2">
                                    <h2>Speciality</h2>
                                </div>
                                <div class="item2">
                                    <h2>Cost-<br />Effective</h2>
                                </div>
                                <div class="item2">
                                    <h2>Client<br />Satisfaction</h2>
                                </div>

                            </div>
                            <div id="rotatingDiv">
                                <div id="TopLeftHideOverflow">
                                    <div id="svgContainer">
                                        <svg style="width: 110%; height:110%;" viewBox="0 0 450 450"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <linearGradient id="grad1">
                                                    <stop offset="5%" stop-color="#ffe372" />
                                                    <stop offset="95%" stop-color="#fc7700" />
                                                </linearGradient>
                                                <linearGradient id="grad2">
                                                    <stop offset="5%" stop-color="#b16ffc" />
                                                    <stop offset="95%" stop-color="#724ec8" />
                                                </linearGradient>
                                                <linearGradient id="grad3">
                                                    <stop offset="5%" stop-color="#60f1d8" />
                                                    <stop offset="95%" stop-color="#1b9884" />
                                                </linearGradient>
                                                <linearGradient id="grad4">
                                                    <stop offset="5%" stop-color="#a61453" />
                                                    <stop offset="95%" stop-color="#cea0b4" />
                                                </linearGradient>
                                                <linearGradient id="grad5">
                                                    <stop offset="5%" stop-color="#722480" />
                                                    <stop offset="95%" stop-color="#8b6392" />
                                                </linearGradient>
                                            </defs>
                                            <g id="Layer_1">
                                                <g stroke="null">
                                                    <path id="PentaPath" stroke="null"
                                                        d="m270.68091,27.851l133.69,97.129c13.324,9.6484 23.25,23.266 28.355,38.906c5.1055,15.637 5.125,32.488 0.05859,48.141l-51.195,157.18c-5.0781,15.633 -14.973,29.258 -28.27,38.922c-13.297,9.6641 -29.312,14.871 -45.75,14.879l-165.28,0c-16.438,-0.00781 -32.453,-5.2148 -45.75,-14.879c-13.297,-9.6641 -23.191,-23.289 -28.273,-38.922l-51.051,-157.18c-5.0664,-15.652 -5.0469,-32.504 0.0586,-48.141c5.1055,-15.641 15.031,-29.258 28.355,-38.906l133.55,-97.129c13.297,-9.6562 29.312,-14.859 45.746,-14.859c16.438,0 32.449,5.2031 45.75,14.859l0.00581,0z" />
                                                </g>
                                            </g>

                                        </svg>
                                    </div>
                                </div>
                                <div class="rotatingDiv2" id="rotImg1">
                                    <div class="imageGroupeContainer">
                                        <div class="imageContainer imageContainer1"><img class="rotatingImg"
                                                src="https://cdn-icons-png.flaticon.com/256/4763/4763025.png"></div>
                                        <div class="imageContainer imageContainer2"><img class="rotatingImg"
                                                src="https://www.inventicons.com/uploads/iconset/2611/wm/512/Artboard-41-93.png">
                                        </div>
                                        <div class="imageContainer imageContainer3"><img class="rotatingImg"
                                                src="https://www.inventicons.com/uploads/iconset/2611/wm/512/Artboard-41-93.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="rotatingDiv2" id="rotImg2">
                                    <div class="imageGroupeContainer">
                                        <div class="imageContainer imageContainer1"><img class="rotatingImg"
                                                src="https://www.inventicons.com/uploads/iconset/2611/wm/512/Artboard-41-93.png">
                                        </div>
                                        <div class="imageContainer imageContainer2"><img class="rotatingImg"
                                                src="https://cdn-icons-png.flaticon.com/512/9464/9464517.png"></div>
                                        <div class="imageContainer imageContainer3"><img class="rotatingImg"
                                                src="https://cdn-icons-png.flaticon.com/256/4763/4763025.png"></div>
                                    </div>
                                </div>
                                <div class="rotatingDiv2" id="rotImg3">
                                    <div class="imageGroupeContainer">
                                        <div class="imageContainer imageContainer1"><img class="rotatingImg"
                                                src="https://www.inventicons.com/uploads/iconset/2611/wm/512/Artboard-41-93.png">
                                        </div>
                                        <div class="imageContainer imageContainer2"><img class="rotatingImg"
                                                src="/assets/icons/assurance.png"></div>
                                        <div class="imageContainer imageContainer3"><img class="rotatingImg"
                                                src="https://cdn-icons-png.flaticon.com/512/10365/10365027.png"></div>
                                    </div>
                                </div>
                                <div class="rotatingDiv2" id="rotImg4">
                                    <div class="imageGroupeContainer">
                                        <div class="imageContainer imageContainer1"><img class="rotatingImg"
                                                src="https://cdn-icons-png.flaticon.com/512/10365/10365027.png"></div>
                                        <div class="imageContainer imageContainer2"><img class="rotatingImg"
                                                src="/assets/icons/assurance.png"></div>
                                        <div class="imageContainer imageContainer3"><img class="rotatingImg"
                                                src="https://cdn-icons-png.flaticon.com/512/6165/6165577.png"></div>
                                    </div>
                                </div>
                                <div class="rotatingDiv2" id="rotImg5">
                                    <div class="imageGroupeContainer">
                                        <div class="imageContainer imageContainer1"><img class="rotatingImg"
                                                src="https://cdn-icons-png.flaticon.com/512/6165/6165577.png"></div>
                                        <div class="imageContainer imageContainer2"><img class="rotatingImg"
                                                src="/assets/icons/assurance.png"></div>
                                        <div class="imageContainer imageContainer3"><img class="rotatingImg"
                                                src="/assets/icons/assurance.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>