<div class="container">
    <p class="headtext">ABOUT US</p>
</div>

<div class="bg-image">
    <img src="/assets/about/about.png" class="img-fluid" alt="Sample" />
    <div class="mask">

        <div class="text-end laptopview"> <br><br>
            <div class="textss animate__animated animate__bounceInUp">
                <h1 class="text-white mb-0"> Real Estate</h1>
                <br>
                <p class="text-white mb-0 t textabout">Property seekers determine properties & make an abreast <br>
                    through an
                    abundance and wealth of market information. <br>
                    Property sellers formulate property selling online simple, <br> fast & easy through
                    ingenious marketing solutions. <br><br>
                </p>

                <p class="text-white mb-0 t textabout"> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Dolorum ex iure magni odio commodi accusamus, fuga <br> sequi doloribus fugiat, tempora libero
                    possimus cum
                    <br> accusantium atque voluptates unde laborum, iste eaque.
                </p>

                <div class="text-white laptopmini">
                    Lorem, ipsum dolor sit amet consectetur <br> adipisicing elit. Quisquam, magni expedita molesti <br>
                    beatae
                    aspernatur, dolorem official neque ducimus, <br> ullam deleniti ea! Aut fugit maxime omnis illo quae
                    <br> similique ipsam odit?
                </div>

                <p class="text-white tabview">Lorem ipsum dolor sit amet consect<br> adipisicing elit.Asperiores
                    necessitati<br> quibusdam,ullam quasi alias vero.
                </p>
                <br>
                <button
                    class="btn btn-secondary btn-rounded btn-lg c animate__animated animate__pulse animate__infinite"
                    [routerLink]="['/contact']">Book Your
                    Consltation</button>
            </div>
        </div>
        <div class="text-end mobileview">
            <div class="textss animate__animated animate__bounceInUp">
                <h1 class="text-white mb-0"> Real Estate</h1>
                <br>
                <p class="text-white ">Lorem ipsum dolor </p>

                <button class="btn btn-secondary btn-rounded  c animate__animated animate__pulse animate__infinite"
                    [routerLink]="['/contact']">Book Your
                    Consltation</button>
            </div>
        </div>
        <!-- <div class="d-flex justify-content-end align-items-center h-100">
            <p class="text-white mb-0 texts"> Property seekers determine properties & make an abreast choice through an
                abundance and wealth of market
                information. <br> Property sellers formulate property selling online simple, fast & easy through
                ingenious
                marketing solutions.

                <br>
                We Get Your Home - That’s the commitment we work relentlessly to live up to. <br> We accomplish this
                promise
                to property buyers with a well-thought interface for property <br> exploration & instantly connect them
                with
                honest and genuine sellers. <br> This is enriched with well-researched market reports, custom-made and
                positive advice, and permissive easier & well-informed property buying selections.
            </p>
        </div> -->

    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="">
                <div class="data">
                    <div class="card-body">
                        <div class="slide slide1">
                            <div class="content">
                                <div class="icon">
                                    <div class="text-center"> <br>
                                        <h4> Assurance</h4>
                                        <img class="iconimg" src="/assets/icons/assurance.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slide slide2">
                            <div class="content">
                                <h3> Assurance </h3>
                                <p class="con">We approve projects and authenticate all aspects of them. When you select
                                    a verified
                                    property,calculated
                                    from all angles & buy it with 100% determination.</p>
                                <p class="ass">We approve projects and authenticate all aspects of them. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="col-md-4">
            <div class="">
                <div class="data">
                    <div class="card-body">
                        <div class="slide slide1">
                            <div class="content">
                                <div class="icon">
                                    <div class="text-center"> <br>
                                        <h4> Convenience </h4>
                                        <img class="iconimg" src="/assets/icons/convenience.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide slide2">
                            <div class="content">
                                <h3>Convenience </h3>
                                <p class="con">We continually innovate and build new means to make property search
                                    smooth for you.
                                    We try to hand over the best service to our customers.</p>
                                <p class="ass">We continually innovate and build new means to make property search
                                    smooth for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="col-md-4">
            <div class="">
                <div class="data">
                    <div class="card-body">
                        <div class="slide slide1">
                            <div class="content">
                                <div class="icon">
                                    <div class="text-center"> <br>
                                        <h4> Assistance </h4>
                                        <img class="iconimg" src="/assets/icons/assitance.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide slide2">
                            <div class="content">
                                <h3>Assistance </h3>
                                <p class="con">Through our property service, we hand-over end to end assistance in
                                    property buying -
                                    right from property inquiry to home loans to statutory formalities and purchase.</p>
                                <p class="ass">Through our property service, we hand-over end to end assistance </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>

    </div>
</div>
<br><br>

<div class="container">
    <div class="row">
        <h1> Insight & Opinion</h1>
        <br>
        <p style="text-align: justify;"> The latest Indian and property market news and assessment, plus helpful mentor
            and forecast from our prominent industry experts.
            In-depth market research hands over clients with up-to-date knowledge that adds to appropriate real estate
            decisions.
            <br>
            Realestate Homes offers a broad range of advisory services from financial and investment guidance to
            assessment,
            devising, and property management, across or beyond multiple market sectors, along with commercial real
            estate, office, business, Indian and international residential real estate, student and economical and
            affordable housing.
            <br> <br>
            Realestate House is a full-service real estate advisor specializing in services across a broad dimension of
            asset
            classes in India, including commercial, office, residential, and industrial, among others. With a chain of
            agents and advisors approaching the country.
        </p>
    </div>
</div>

<br> <br>
<!-- what we offer -->
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <h2>What We Offer</h2> <br>
            <main>
                <ol class="gradient-list">
                    <li>Property Investments Service.</li>
                    <li>Consulting Service.</li>
                    <li>After Sales Assistance Service.</li>
                    <li>Reach and Analysis Service.</li>
                    <li>Loan Assistance Service.</li>
                    <li>Channel Partners.</li>
                    <li>People and Culture Career.</li>
                    <li>Current Opportunity Career.</li>
                </ol>
            </main>
        </div><br>
        <div class="col-lg-7 col-md-12"> <br><br>
            <img src="https://content.jdmagicbox.com/v2/comp/chennai/t6/044pxx44.xx44.210308194514.g6t6/catalogue/ecr-chennai-real-estate-injambakkam-chennai-estate-agents-for-land-02k7glopbn.jpg"
                class="img" alt="">
        </div>
    </div>
</div>

<app-whyus></app-whyus> <br><br>

<div class="container-fluid">

    <div class="bg-image">
        <img src="/assets/about/1.jpg" class="img-fluid" alt="Sample" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.717);">

            <div class="row">
                <div class="col-md-4">
                    <div class="call-to-bg">
                        <div class="text-center">
                            <h1 class="textbook">Book Now</h1>
                        </div>
                    </div><br>
                </div><br>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-center t"> <br><br>
                                <h1>Book Your House <br>
                                    Call Us Now : +91 9878678760</h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-end">
                                <img class="lastimage" src="/assets/about/booking.png" alt="Sample" />
                            </div>
                        </div>
                    </div>
                    <br>
                </div><br>
            </div>
        </div>
    </div>

</div>
<br><br>