<br><br>
<div class="container">
    <p class="headtext">SERVICES</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12">
            <figure class="snip1256">
                <img src="https://www.jlkrealtors.com/images/service_details_1.jpg" alt="sample42" />
                <figcaption>
                    <h2>Residential Properties Buying & Selling</h2> <br>
                    <p>We deal in the buying and selling of residential properties, and help our clients with
                        the handful of options available with us. We are well-versed about the market trends,
                        and never fail to render satisfactory services. Whenever a person comes to us with a
                        query, we make sure to guide them according to their needs.
                        <br> <br>
                    </p><a href="#" class="read-more" [routerLink]="['/contact']">Read More</a>
                </figcaption> <br>
                <div class="text-center"><br>
                    <h4>Residential Properties Buying & Selling</h4>
                </div>
            </figure>
        </div>
        <br>

        <div class="col-xl-4 col-lg-6 col-md-12">
            <figure class="snip1256">
                <img src="https://www.jlkrealtors.com/images/service_details_2.jpg" alt="sample42" />
                <figcaption>
                    <h2>Commercial Properties Buying & Selling</h2>
                    <p>Commercial properties hold a lot of importance in the society, and we are one of the
                        renowned names when it comes to buying and selling of commercial properties. We have
                        years of experience and expertise in this domain, and have handful of options available
                        from which a person can choose as per their requirements. If you are planning to invest
                        in the commercial properties, then we are the destination for you.</p><a href="#"
                        class="read-more" [routerLink]="['/contact']" [routerLink]="['/contact']">Read More</a>
                </figcaption>
                <div class="text-center"><br>
                    <h4>Commercial Properties Buying & Selling</h4>
                </div>
            </figure>
        </div>
        <br>

        <div class="col-xl-4 col-lg-6 col-md-12">
            <figure class="snip1256">
                <img src="https://www.jlkrealtors.com/images/service_details_3.jpg" alt="sample42" />
                <figcaption>
                    <h2>Land & Plots Buying & Selling</h2>
                    <p>Do you want to buy or sell land or plots? If yes, then you have certainly landed upon the
                        right page, because we are one of the well-reckoned firm, which deals in wide range of
                        plot & land buying and selling. We aid our clients at every single step, and make sure
                        that they know about the various documentation to be done for purchasing and selling.</p><a
                        href="#" class="read-more" [routerLink]="['/contact']" [routerLink]="['/contact']">Read More</a>
                </figcaption>
                <div class="text-center"><br>
                    <h4>Land & Plots Buying & Selling</h4>
                </div>
            </figure>
        </div> <br>

        <div class="col-xl-4 col-lg-6 col-md-12">
            <figure class="snip1256">
                <img src="https://www.jlkrealtors.com/images/service_details_4.jpg" alt="sample42" />
                <figcaption>
                    <h2>Rental Properties</h2>
                    <p>As a real estate company, we are dealing in wide range of rental properties, and have a
                        lot of options available. We have 1BHK, 2BHK, 3BHK, Bungalows, Flats, offices, corporate
                        space and a lot more available. The team of agents who are associated with us never
                        fails to render up-to-the-mark services, and always make sure that the client is getting
                        exactly what they want. If you want to rent a property, then we are right here to serve
                        you with the best that too under your budget.</p><a href="#" class="read-more"
                        [routerLink]="['/contact']">Read More</a>
                </figcaption>
                <div class="text-center"><br>
                    <h4>Rental Properties</h4>
                </div>
            </figure>
        </div>
        <br>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <figure class="snip1256">
                <img src="https://www.jlkrealtors.com/images/service_details_5.jpg" alt="sample42" />
                <figcaption>
                    <h2>Comparative Market Analysis</h2>
                    <p>We are known for the service of Comparative Market Analysis, because we are providing the
                        individuals with the estimate of home value. The real estate agents and brokers who are
                        working with us, creates CMA reports and helps the sellers in the market for setting
                        their price listing. With the help of our CMA, we always make sure that the client is
                        not in a loss. If you want to get a CMA for your house, then you don’t have to look for
                        it any further, as we are here to help you out.</p><a href="#" class="read-more"
                        [routerLink]="['/contact']">Read More</a>
                </figcaption>
                <div class="text-center"><br>
                    <h4>Comparative Market Analysis</h4>
                </div>
            </figure>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <figure class="snip1256">
                <img src="https://www.jlkrealtors.com/images/service_details_6.jpg" alt="sample42" />
                <figcaption>
                    <h2>Home Loans Assistance</h2>
                    <p>As the top provider of Home loan assistance, we are rendering the service where the
                        individuals can easily take a home loan. As a financial advisory firm, we do all the
                        documentation work required. We also help the individuals whenever they aren’t able to
                        get a loan from any respective brand. To avail the service of our home loan assistance,
                        connect with us today..</p><a href="#" class="read-more" [routerLink]="['/contact']">Read
                        More</a>
                </figcaption>
                <div class="text-center"><br>
                    <h4>Home Loans Assistance</h4>
                </div>
            </figure>
        </div>
    </div>
</div>