<br>
<div class="c">

    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <div class="bg-image">
                    <img class="img2" src="https://www.jlkrealtors.com/images/slider/2.jpg" class="w-100" />
                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
                        <div class="carousel-caption d-block textmain">
                            <p class="p">Buy A Premium Property Through A Channel Partner</p>

                            <button class="btn btn-lg b" [routerLink]="['/Contact']"><a>Make An Enquiry</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="bg-image">
                    <img class="img2" src="https://www.jlkrealtors.com/images/slider/1.jpg" class="w-100" />
                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
                        <div class="carousel-caption  d-block textmain">
                            <p class="p">Find Your Dream House By Us</p>
                            <br>
                            <button class="btn btn-lg b" [routerLink]="['/Contact']"><a>Make An Enquiry</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <div class="bg-image">
                    <img class="img2" src="https://www.jlkrealtors.com/images/slider/2.jpg" class="w-100" />
                    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
                        <div class="carousel-caption d-block  textmain">
                            <p class="p">We Get Your Home</p>
                            <br>
                            <button class="btn btn-lg b" [routerLink]="['/Contact']">Make An Enquiry</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<br> <br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image">
            <br> <br>
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image">
        </div><br>

        <div class="col-md-2">
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image">
            <br> <br>
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image"> <br>
        </div><br>

        <div class="col-md-4">
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image">
            <br>
        </div><br>


        <div class="col-md-2">
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image">
            <br> <br>
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image"> <br>
        </div><br>


        <div class="col-md-2">
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image">
            <br> <br>
            <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/dztbdjtlt0742olddn6u/modern-home"
                alt="image">
        </div><br>

    </div>
</div>

<br>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Your digital presence is about to take off</h1>
                <br>
                <p>Welcome to our blog, your go-to destination for all things real estate and beyond. Join us as we
                    explore the exciting world of real estate together and unlock the keys to your dream home. </p>
                <br><br>
                <button class="btn btn-outline-success btn-rounded btn-lg" type="submit" [routerLink]="['/contact']"> <b
                        style="color: black;">Schedule a Consultation</b> </button>

            </div><br>
            <div class="col-md-6"><br>
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://napa.wpresidence.net/wp-content/uploads/2024/05/vinyard4-webp.webp" alt="">
                    </div><br>
                    <div class="col-md-6">
                        <img src="https://napa.wpresidence.net/wp-content/uploads/2024/05/x-4-1.webp" alt=""> <br><br>
                        <img src="https://napa.wpresidence.net/wp-content/uploads/2024/05/x-4-1.webp" alt=""> <br><br>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>