<div class="main">

    <div class="container">
        <div class="container"> <br>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h1>Logo</h1>
                    <!-- <img class="img" (click)="scroll()" [routerLink]="['/']" src="/assets/logo.png" alt=""> -->
                    <!-- <br><br> -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sit et quibusdam facilis! Debitis
                        esse nesciunt praesentium id tempora laudantium repudiandae asperiores. </p>

                    <ul style="list-style: none; display: flex; margin-left: -10%;">
                        <li class="list">
                            <a style="color: white;" href="tel:+918484960062"><i
                                    class="fa-solid fa-phone phone"></i></a>
                        </li>

                        <li class="list"> <a style="color: white;" href="https://www.facebook.com/Fittciti"
                                target="_blank"><i class="fa-brands fa-facebook facebook"></i> </a> </li>

                        <li class="list "> <a style="color: white;" href="https://www.instagram.com/fittciti.in/"
                                target="_blank"><i class="fa-brands fa-instagram iconi"> </i> </a>
                        </li>
                    </ul>
                    <br>
                </div><br>
                <div class="col-lg-3 col-md-3 linkss">
                    <h2>Projects Links</h2><br>
                    <p>
                        <li (click)="scroll()" [routerLink]="['/viewproject']">Project Area Name</li>
                        <li (click)="scroll()" [routerLink]="['/viewproject']">Project Area Name</li>
                        <li (click)="scroll()" [routerLink]="['/viewproject']">Project Area Name</li>
                        <li (click)="scroll()" [routerLink]="['/viewproject']">Project Area Name</li>
                        <li (click)="scroll()" [routerLink]="['/viewproject']">Project Area Name</li>
                        <li (click)="scroll()" [routerLink]="['/viewproject']">Project Area Name</li>
                        <!-- <li (click)="scroll()" [routerLink]="['/about']">About Us</li>

                        <li (click)="scroll()" [routerLink]="['/services']">Services</li>


                        <li (click)="scroll()" [routerLink]="['/portfolio']">Portfolio</li>


                        <li (click)="scroll()" [routerLink]="['/gallery']">Gallery</li>

                        <li (click)="scroll()" [routerLink]="['/contact']">Contact Us</li> -->
                    </p>
                    <br>
                </div><br>
                <div class="col-lg-3 col-md-3">
                    <h2>Contact Us</h2><br>
                    <p class="p"><i class="fa-solid fa-envelope-open-text"></i> abcefc&#64;gmail.com</p>
                    <p class="p"><i class="fa-solid fa-mobile-screen-button"></i> +91 9012345690</p>
                    <p class="p"><i class="fa-solid fa-location-dot "></i> Address: 123, Grant
                        road,Kharadi,pune,Maharastra.</p>
                    <br>
                </div><br>
                <div class="col-lg-3 col-md-3">
                    <img src="/assets/footer.png" alt="">
                    <br>
                </div><br>
            </div>

            <hr>
            Copyright © 2024 All rights reserved by Realestate
            <span style="float: right;">Powered By:<a target="_blank" href="https://fourthdm.com/">
                    <img style="width: 10rem!important;" src="/assets/logo.jpg" alt=""></a></span>
            <br>
            <br>
        </div>
    </div>
</div>