<!-- Carousel wrapper -->
<br><br>
<div class="container">
    <p class="headtext">Testimonials</p>
</div>
<br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
           <div class="container">
            <p class="p">Our Customers</p><br>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id a quae magnam, illo eveniet
                quaerat nulla, ipsa ipsam explicabo laudantium dicta error illum cupiditate magni delectus consequatur
                molestiae saepe?</p>
           </div>
        </div><br>
        <div class="col-md-8 textss">
            <div class="row">
                <div class="col-md-6 m">
                    <div class="card" style="background-color: #b88417; height: 100%;">
                        <div class="card-body">
                            <img src="https://randomuser.me/api/portraits/women/80.jpg" class="cimg" alt="">
                            <br><br>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores saepe facilis quos
                                sint, neque, dicta debitis suscipit voluptatem voluptate ullam adipisci recusandae
                                voluptates iure magnam omnis eligendi consequatur inventore animi.</p>
                            <br>
                            <p>Customer name</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ml ">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="card" style="background-color: #dec7b2;">
                                <div class="card-body">
                                    <img src="https://randomuser.me/api/portraits/women/80.jpg" class="cimg" alt="">
                            <br><br>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores saepe facilis quos
                                sint, neque, dicta debitis suscipit voluptatem voluptate ullam adipisci recusandae
                                voluptates iure magnam omnis eligendi consequatur inventore animi.</p>
                            <br>
                            <p>Customer name</p>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-md-12 ">
                            <div class="card" style="background-color: #6d4a2a;">
                                <div class="card-body">
                                    <img src="https://randomuser.me/api/portraits/women/80.jpg" class="cimg" alt="">
                                    <br><br>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores saepe facilis quos
                                        sint, neque, dicta debitis suscipit voluptatem voluptate ullam adipisci recusandae
                                        voluptates iure magnam omnis eligendi consequatur inventore animi.</p>
                                    <br>
                                    <p>Customer name</p>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <div class="card" style="background-color: #312320;">
                        <div class="card-body">
                            <img src="https://randomuser.me/api/portraits/women/80.jpg" class="cimg" alt="">
                            <br><br>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores saepe facilis quos
                                sint, neque, dicta debitis suscipit voluptatem voluptate ullam adipisci recusandae
                                voluptates iure magnam omnis eligendi consequatur inventore animi.</p>
                            <br>
                            <p>Customer name</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div><br>
    </div>
</div>

<br><br>
<br>

<div class="main1">
    <div class="container">
        <div class="row">
            <div class="col-md-6"> <br><br>
                <h1 style="color: #312320;"> <br>
                    <b>
                        Have a project in your mind? <br>
                        Book a Consultation
                    </b>
                </h1><br>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio temporibus iste nemo vero est libero
                    vitae
                    totam adipisci perspiciatis eos architecto labore non sit excepturi accusamus soluta possimus,
                    obcaecati
                    eius?</p>
                <br>
                <button class="btn btn-warning btn-rounded btn-lg" [routerLink]="['/contact']">Book Now !</button>
            </div><br>

            <div class="col-md-6"><br>
                <img src="https://ymtsindia.com/assets/img/realestate.jpg" class="imgss" alt="">
                <br>
            </div><br>
        </div>
    </div><br>
</div>